In [117]:
import pandas as pd

data_row_일반질문=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/row/normal data/row/콜센터민원_일반 행정 문의_상담사질문.csv",index_col=0)
data_row_일반답변=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/row/normal data/row/콜센터민원_일반 행정 문의_상담사답변.csv",index_col=0)
data_row_피싱금융형=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/row/fishing data/row data/대출사기형.csv",index_col=0)
data_row_기관사칭형=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/row/fishing data/row data/수사기관사칭형.csv",index_col=0)

In [118]:
data_row_일반질문

                                상담사질문(요청)
0                       어떤 은행을 이용하고 계십니까?
1                         어느지점으로 안내해드릴까요?
2                 지금 전화거신 핸드폰이 본인명의 맞습니까?
3                        생년월일을 말씀해주시겠습니까?
4                         살고계신 주소는 어디입니까?
...                                   ...
4492                      서울시에서 진행하는 건가요?
4493                         어떠점이 궁금하십니까?
4494  공연, 체험, 전시, 기타 등이 있는데 어느걸로 안내해드릴까요?
4495             네. 혼인신고의 어떤 내용을 알고싶으신가요?
4496                  서울에 위치한거 말씀하시는 건가요?

[4497 rows x 1 columns]

In [119]:
data_row_일반답변

                                                상담사답변
0                      이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.
1                 그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.
2                                        방문납부도 가능합니다.
3                             도보로 10분위치에 서울역지점이 있습니다.
4                                 도보로 가시는게 빠를 것 같습니다.
...                                               ...
20065                                     62400원 입니다.
20066                                   1423200원 입니다.
20067  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.
20068                                    1~3순위가 있습니다.
20069             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.

[20070 rows x 1 columns]

In [120]:
data_row_기관사칭형

                                                   내용
0   ['아 서울 중앙 지검 첨단 범죄 수사 일부 이희나 수사관입니다.', '본 사건 조...
1   ['여보세요', '여보세요 OOO씨 혹시 맞습니까?', '네', '저는 서울 중앙 ...
2   ['여보세요', '네', '네 안녕하십니까.', '혹시 OOO 핸드폰 맞으십니까?'...
3   ['수고하십니다.', '여기는 서울 중앙 지검이고요', '네', '저는 1,000만...
4   ['어 이름은 김호철이고 태어난 곳은 전라도 광주, 올해로 사십세된 남성에 농협 은...
5   ['네 여보세요', '네 네', '아 아 다른 게 아니라 그 OOO 본인 관련된 명...
6   ['어 제가 한가지만 좀 여쭤볼게요.', '혹시 문은정이라는 사람 들어 보시거나 알...
7   ['본인께서도 인지를 못하시는 거 확인을 좀 부탁드릴게요.', '본인 혹시 중고나라...
8   ['증거를 속이게 되면 어 증거 자료로 솔직히 어려운 부분이 조금 있으신데 혹시 지...
9   ['사기범로 보는 건 아니고요.', '저희가 어느 정도 개인 명의 도용에 따른 피해...
10  ['말씀 하세요', '업무 보셨나요?', '그냥 해지하신 시간 말씀해주시겠어요.',...
11  ['예 아 그러니까 김명식 이란 사람이 제 주민 번호랑', '네 네 아 통장 개설해...
12  ['사기범:1 5882 114예 전화하셔서요.', '저도 대출 좀직장 인신용 대출 ...
13  ['여보세요', '네 여보세요.', '네 계좌이체 했어요.', '얼마 하셨죠?', ...
14  ['네 여보세요', '네 네', '저 근데요', '지금 와서 이러는 것도 웃기지만....
15  ['그러니까 제 통장이 실물 통장이 있었다고요?', '네 국민하고 신한 은행 통장 ...
16  ['여보세요', '예 여보세요', '네', '아 간략하게 이제 고지만 드릴게요.',...
17  ['네 네 네 여보세요', '네 네', '어디에 계시는 겁니까 지금', '네?', ...
18  ['본인 성함 알겟습니다.', '제가 첫번째는 이제 본인이 혹시라도 이제 깡통 계좌...
19  ['아 예 지금 뭐 다 읽었습니다', '내용 중에 이해 안 가시거나 이런 부분이 있...
20  ['본인이 참고물을 보실 때 평소에 돈을 왜 찾느냐든지 계좌 이체 보낸다든지 물품을...
21  ['그러면 저희 쪽에서 협조수사로 진행을 해드릴게요.', '2가지가 있어요.', '...
22  ['그 현재 본인 계좌는 앞선 두 계좌 이외에도 추가로 발견되시는 상황이라서, 그 ...
23  ['지금까지 진술 잘 해 주셨는데요.', '자 인제 지금부터는 담당 검사님한테 이관...
24  ['그러면 본인 같은 경우는 저희가 조회를 해봤지만 동일 전과도 전혀 없으시고 신원...
25  ['녹취 중에 주위 잡음이 너무 많이 섞인다거나 제3자의 목소리가 섞인 다거나 대화...
26  ['아 예 수고하십니다.', '서울 지검  수사관이에요.', '지금 통화 좀 괜찮으...
27  ['금융 범죄 수사 1팀 김도영 수사관입니다.', ' 본인맞습니까?', '예', '...
28  ['예 수고하십니다.', '서울 중앙 지검이에요.', '저는 첨단 범죄 수사 1부에...
29  ['사건 파일 보고서 마지막 장 끝에 보시게 되면 그 담당 수사관 업무용 녹취 전화...
30  ['네 일단 미란다의 원칙은 제가 정확하게 고지를 해드렸고, 어 그러면 이제 지금부...
31  ['여자들이 범죄가 변경이 되기 시작합니다', '기능 범죄로 바뀌게 되는데 어차피이...
32                                         ['네 여보세요']
33  ['해서 지금 피해를 보신 분들이 계신데', '네', '어 이게 지금 피해자 입증을...
34  ['저희 검찰에서 이번에 강수철 주범으로 인한 금융 범죄 사기단을 검거했어요', '...
35  ['합법적으로 제 거 개설한거 통장 말씀을 해드릴게요.', '계좌 번호말고요.', ...
36  ['김성우요?', '예 출신지가 전라도 광주 출신이구요', '네', '40대 남성입...
37  ['여보세요', ' 전화 끊으신 거에요?', '말씀하세요', '어 저희 측에서 지금...
38  ['여보세요', '네 ', '네', '아 수고 많으십니다', '여기는 서울 중앙 지...
39  ['여보세요', '여보세요', '여보세요', '예  씨?', '네', '아 네.',...
40  ['금융권과 대조를 해봤는데, 이게 뭐 위조된 통장이 아니라 이제 본인 명의로 개설...
41  ['누구요?', '김강호구요.', '서울 출신입니다.', '37세 남성이고요', '...
42  ['뭐라고요?', '제가 잘 못들어가지고.', '서울 중앙 지검이고요', '네', ...
43  ['네 박진석 수사관입니다', '네', '아 다름이 아니고요.', ' 앞으로 연루된...
44  ['네 말씀 하세요', '아 본인 혹시 주변 지인들 중에 고향이 전라도 광주구요.'...
45  ['때문에 몇 가지 확인 차 연락 드렸는데요.', '본인께서는 전라도 광주 출신인 ...
46  ['여보세요', '여보세요', '네', ' 씨 되십니까', '누구세요?', '제가 ...
47  ['뭐라고요?', '김형석이라는 사람 말고 있으시냐고요', '김형석이요?', '김 ...
48  ['네?', '서울 중앙 지검에 이영남 수사관입니다', '예', '그 다름이 아니라...
49  ['10월 달부터 현재까지, 지금까지 수천 만 원의 불법 자금이 돈세탁이 되서 해외...
50  ['예?', '여보세요', '예?', '그 다름이 아니라  연루된 명의 도용 사건 ...
51  ['네 말씀하세요', '예, 뭐 다름이 아니고요.', '몇 가지 확인할 사항이 있어...
52  ['네 뭐라고요?', '아 본인 명의로 사건 관련해가지고 몇가지 확인 차 연락을 드...
53  ['통장명이  계좌 맞구요?', '그리고 통장 발급 일은 2017년 3월 14일입니...
54  ['여보세요', '예 여보세요', '예', ' 맞으신가요?', '예', '예 안녕하...
55  ['효과가 없으시기 때문에 그 녹취로써 약식 조사를 진행할 건데, 그리고 이게 개인...
56  ['41세 김명식이요?', '모르는데요?', '김용식.', '용식', '연식?', ...

In [121]:
data_row_피싱금융형

                                                   내용
0   ['여보세요', '네   님', '예 예', '어저께 통화했던 최영환입니다', '아...
1   ['여보세요', '안녕하세요', '고객님 김종현 대리입니다', '아네 대리님', '...
2   ['네 여보세요?', '여보세요', '네 ㅇㅇ 맞으신가요?', '네네', '네 안녕...
3   ['네', '네 여보세요', '뭐 어디세요?', '아 네 안녕하세요', '저희 그 ...
4   ['여보세요', '네   님', '예 예', '어저께 통화했던 최영환입니다', '아...
..                                                ...
71  ['네', '네 여보세요', '뭐 어디세요?', '아 네 안녕하세요', '저희 그 ...
72  ['여보세요', '네   님', '예 예', '어저께 통화했던 최영환입니다', '아...
73  ['여보세요', '안녕하세요', '고객님 김종현 대리입니다', '아네 대리님', '...
74  ['네 여보세요?', '여보세요', '네 ㅇㅇ 맞으신가요?', '네네', '네 안녕...
75  ['네', '네 여보세요', '뭐 어디세요?', '아 네 안녕하세요', '저희 그 ...

[76 rows x 1 columns]

In [122]:
data_row_일반답변[:40]

                                                상담사답변
0                      이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.
1                 그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.
2                                        방문납부도 가능합니다.
3                             도보로 10분위치에 서울역지점이 있습니다.
4                                 도보로 가시는게 빠를 것 같습니다.
5                               위택스 사이트에서 납부하실수 있습니다.
6                                www.wetax.go.kr 입니다.
7                     이용하시는 은행의 사이트에서도 지방세 납부가 가능합니다.
8                               간단한 본인확인 후 안내해드리겠습니다.
9                                        본인확인이 되셨습니다.
10                                 지방세는 22만원으로 조회됩니다.
11                       온라인으로는 위택스나 은행 홈페이지에서 가능합니다.
12                                OOOO.OOO.go.kr 입니다.
13                                   현재로썬 진행될 예정입니다.
14                          네, 철저한 방역수칙하에 진행할 예정입니다.
15                            예매사이트 통해서 환불하실 수 있습니다.
16                         공연 일주일 전까진 10% 수수료가 있습니다.
17                                    네 규정상 어쩔수 없습니다.
18                     철저한 방역수칙으로 진행하기에 걱정 안하셔도 됩니다.
19  그 부분에 대해서는 개인이 조심을 하셔야기때문에 서울시에서는 따로 보상을 해드리진 ...
20                            확산세가 심하면 취소 될 수도 있습니다.
21                                           네 맞습니다.
22                             죄송하지만 이미 신청기간이 지났습니다.
23                            희망두배 청년통장은 신청하실수 있습니다.
24                                청년저축계좌랑 비슷한 정책입니다.
25                                           네 맞습니다.
26  2~3년간 꾸준히 저축하는 서울청년 대상 본인 저축액 100%를 서울시 예산으로 추...
27                                 저축액을 두 배로 적립해줍니다.
28                                          총 3천명입니다.
29                       이번달 24일까지 신청기간이니 서둘러 신청해주세요.
30               네 서울거주자이시면서 만 18세~34세 이하의 청년 대상입니다.
31                                           네 감사합니다.
32                                     네 그럼 신청 가능합니다.
33  매달 10만원 저축이시면 장려금 30만원 지원받으셔서 3년 후 1,440만원을 마련...
34            네. 청년저축계좌 유지조건으로 3년간 근로활동을 계속 하셔야 합니다.
35       네 근로장려 목적이기때문에 근로활동의 공백이 생기지 않도록 주의하셔야 합니다.
36            다른 조건으로는 3년안에 국가공인자격증 1개 이상을 취득해야 합니다.
37                       네 결혼 7년 이내 부부는 신혼부부에 해당합니다.
38                  임대차 보증금 지원사업과 버팀목 전세자금 대출이 있습니다.
39                   하나은행, 국민, 신한은행을 통해서 받으실 수 있습니다.

In [123]:
data_row_일반답변.iloc[31,0]

'네 감사합니다.'

In [124]:
print(len(data_row_일반답변.iloc[31,0]))

8

In [125]:
count=0
for i in range(data_row_일반질문.shape[0]):
    if len(data_row_일반질문.iloc[i,0])>len(data_row_일반답변.iloc[31,0]):
        count=count+1

In [126]:
for j in range(0,data_row_일반답변.shape[0]):
    if len(data_row_일반답변.iloc[j,0])>len(data_row_일반답변.iloc[31,0]):
        count=count+1

In [127]:
count

22589

In [128]:
data_row_normal=pd.DataFrame(index=range(count),columns=['sentence'])

In [129]:
data_row_normal

      sentence
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
22584      NaN
22585      NaN
22586      NaN
22587      NaN
22588      NaN

[22589 rows x 1 columns]

In [130]:
count=0
for i in range(data_row_일반질문.shape[0]):
    if len(data_row_일반질문.iloc[i,0])>len(data_row_일반답변.iloc[31,0]):
        data_row_normal.iloc[i,0]=data_row_일반질문.iloc[i,0]
        count=count+1

In [131]:
for i in range(data_row_일반답변.shape[0]):
    if len(data_row_일반답변.iloc[i,0])>len(data_row_일반답변.iloc[31,0]):
        data_row_normal.iloc[count,0]=data_row_일반답변.iloc[i,0]
        count=count+1

In [132]:
data_row_normal

                                             sentence
0                                   어떤 은행을 이용하고 계십니까?
1                                     어느지점으로 안내해드릴까요?
2                             지금 전화거신 핸드폰이 본인명의 맞습니까?
3                                    생년월일을 말씀해주시겠습니까?
4                                     살고계신 주소는 어디입니까?
...                                               ...
22584                                     62400원 입니다.
22585                                   1423200원 입니다.
22586  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.
22587                                    1~3순위가 있습니다.
22588             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.

[22589 rows x 1 columns]

In [133]:
y=pd.DataFrame(index=range(data_row_normal.shape[0]),columns=['predict'])

In [134]:
y=y.fillna('0')

In [137]:
data_normal=pd.concat([data_row_normal,y],axis=1)

In [138]:
data_normal

                                             sentence predict
0                                   어떤 은행을 이용하고 계십니까?       0
1                                     어느지점으로 안내해드릴까요?       0
2                             지금 전화거신 핸드폰이 본인명의 맞습니까?       0
3                                    생년월일을 말씀해주시겠습니까?       0
4                                     살고계신 주소는 어디입니까?       0
...                                               ...     ...
22584                                     62400원 입니다.       0
22585                                   1423200원 입니다.       0
22586  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.       0
22587                                    1~3순위가 있습니다.       0
22588             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.       0

[22589 rows x 2 columns]