In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/test/sentence 4/test data.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
925     죄송할건 없고요. 잘 안 들려서 본인한테 계속 여보세요 제가 물어 본 거예요. 아...        2
2855             그러니까 어디시냐고요. 서울 어디. 여보세요? 중앙 지검은 검찰청이에요        2
2667    제가 말씀 했던 것처럼 100만원이다 그럼 80에서 100. 이렇게 오차 많이 크...        2
7075   3년가 15만원씩 540만원을 납입하면 추가로 540만원인 1080만원을 지원해드립니다.        0
19279                   그렇군요 언제든지 괜찮으니까 궁금한게 있으면 연락 주세요.        0
...                                                  ...      ...
12890                         최초로 감면 신청하는 1대에 한하여 면제됩니다.        0
2292    물건을 받지 못한 피해자분들이  씨 어찌 됐던 간에 본인 통장 건으로 입금한 거잖...        2
8734                                   간이영수증을 받으셔야 합니다.         0
19302                                         그게 궁금하셨군요.        0
21235                                   30일 이내는 2만원 입니다.        0

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                                sentence  predict
8197                개인 방역을 철저히 해야 하므로 마스크 반드시 착용하셔야 합니다.        0
2683    그 분들도 중에도 몇 몇 분들은 진짜 계속적으로 만나고 싶으신 분들이 있을 거예요...        2
22515                                     종목별 20-30명입니다.        0
6793                                         네 예약되셨습니다.         0
4209                                   어떻게 궁금증은 좀 풀리셨나요?        0
...                                                  ...      ...
16528                                두달 간 무급휴직 수당을 지급합니다        0
18482                           자동차세는 자동차의 소유자가 납세자 입니다.        0
168     위임 처리 비용 발생되시는 금액 같은 경우에는 실제 청구되시는 수수료는 아니시기 ...        1
3016    그 농협이랑 하나 은행은 뭐 직접 현재 거래가 있으신 겁니까? 농협은 거래... ...        2
15431                                     5만원 과태로 내야힙니다.        0

[300 rows x 2 columns]

In [7]:
data.to_csv("test_data_before_vector.csv")

In [8]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [9]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [10]:
A=model.encode(data.iloc[0,0])

In [11]:
A.shape[0]

768

In [12]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [13]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [14]:
x_test.shape

(300, 768)

In [15]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [16]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
y_test

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

In [18]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [19]:
y_test

    predict
0         0
1         2
2         0
3         0
4         0
..      ...
295       0
296       0
297       1
298       2
299       0

[300 rows x 1 columns]

In [20]:
y_test.isnull().sum()

predict    0
dtype: int64

In [21]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [22]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.02843,-0.0672,-0.02324,0.013274,0.006047,0.003027,-0.045655,0.04349,0.061552,0.001445,...,-0.05913,-0.028175,-0.012492,-0.003276,-0.035801,-0.030294,0.015915,0.033793,0.008756,-0.032959
1,0.035237,-0.058275,0.013494,-0.029297,-0.011124,0.013978,0.047832,-0.008629,0.028014,0.058257,...,-0.003069,-0.04243,-0.037779,-0.002858,-0.006873,-0.064368,0.005044,0.023868,-0.029611,-0.0426
2,0.030325,-0.095752,-0.001676,-0.022854,0.024388,-0.007818,-0.030277,0.01932,0.055585,0.017861,...,-0.050272,-0.056088,-0.043734,-0.023179,-0.044014,-0.026392,0.019414,0.026422,0.008884,-0.014184
3,0.024886,0.046077,-0.001982,0.043829,0.046121,0.015496,-0.052117,0.073154,0.048174,0.014204,...,-0.04273,0.019765,0.049639,-0.020884,-0.067809,-0.036633,-0.0164,-0.001785,0.019004,-0.032728
4,0.063122,-0.025937,0.0003,0.03036,0.032383,-0.004297,-0.047369,0.034433,0.040983,-0.027112,...,0.015594,-0.031782,0.028541,-0.015772,-0.042752,-0.10082,0.023009,0.020535,0.009422,-0.021666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.026484,-0.095435,-0.023608,-0.003414,0.010476,-0.017204,-0.009671,-0.008892,0.043387,-0.006294,...,-0.033399,-0.045754,0.002328,0.003829,-0.036208,-0.055405,0.026585,0.014108,0.005106,-0.011871
296,0.045915,-0.034794,-0.015087,0.009494,0.015499,-0.014479,-0.052546,0.023816,0.05222,0.000894,...,-0.050014,-0.033376,-0.003574,-0.024523,-0.036061,-0.02539,0.009898,0.040267,0.016253,-0.018821
297,0.070809,-0.039573,-0.032251,-0.002889,0.004149,0.01066,-0.017581,-0.014195,0.041209,-0.00024,...,-0.023876,-0.033309,-0.035242,0.030572,-0.015412,-0.029627,0.026216,0.016883,-0.014362,-0.040022
298,0.094381,-0.006411,-0.022371,0.049425,0.00497,-0.008499,-0.039592,0.035098,0.035948,-0.019433,...,-0.01361,-0.011656,0.024972,0.006792,-0.033767,-0.049591,0.009131,0.019256,0.008466,-0.04322
299,0.068924,-0.040436,-0.008438,0.02124,0.053781,-0.005155,-0.055375,0.026609,0.020938,-0.006242,...,-0.051447,-0.048353,-0.014013,-0.01112,-0.053487,-0.028775,0.007546,0.032815,0.030686,-0.017107

In [23]:
data=pd.concat([x_test,y_test],axis=1)

In [24]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.02843,-0.0672,-0.02324,0.013274,0.006047,0.003027,-0.045655,0.04349,0.061552,0.001445,...,-0.028175,-0.012492,-0.003276,-0.035801,-0.030294,0.015915,0.033793,0.008756,-0.032959,0
1,0.035237,-0.058275,0.013494,-0.029297,-0.011124,0.013978,0.047832,-0.008629,0.028014,0.058257,...,-0.04243,-0.037779,-0.002858,-0.006873,-0.064368,0.005044,0.023868,-0.029611,-0.0426,2
2,0.030325,-0.095752,-0.001676,-0.022854,0.024388,-0.007818,-0.030277,0.01932,0.055585,0.017861,...,-0.056088,-0.043734,-0.023179,-0.044014,-0.026392,0.019414,0.026422,0.008884,-0.014184,0
3,0.024886,0.046077,-0.001982,0.043829,0.046121,0.015496,-0.052117,0.073154,0.048174,0.014204,...,0.019765,0.049639,-0.020884,-0.067809,-0.036633,-0.0164,-0.001785,0.019004,-0.032728,0
4,0.063122,-0.025937,0.0003,0.03036,0.032383,-0.004297,-0.047369,0.034433,0.040983,-0.027112,...,-0.031782,0.028541,-0.015772,-0.042752,-0.10082,0.023009,0.020535,0.009422,-0.021666,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.026484,-0.095435,-0.023608,-0.003414,0.010476,-0.017204,-0.009671,-0.008892,0.043387,-0.006294,...,-0.045754,0.002328,0.003829,-0.036208,-0.055405,0.026585,0.014108,0.005106,-0.011871,0
296,0.045915,-0.034794,-0.015087,0.009494,0.015499,-0.014479,-0.052546,0.023816,0.05222,0.000894,...,-0.033376,-0.003574,-0.024523,-0.036061,-0.02539,0.009898,0.040267,0.016253,-0.018821,0
297,0.070809,-0.039573,-0.032251,-0.002889,0.004149,0.01066,-0.017581,-0.014195,0.041209,-0.00024,...,-0.033309,-0.035242,0.030572,-0.015412,-0.029627,0.026216,0.016883,-0.014362,-0.040022,1
298,0.094381,-0.006411,-0.022371,0.049425,0.00497,-0.008499,-0.039592,0.035098,0.035948,-0.019433,...,-0.011656,0.024972,0.006792,-0.033767,-0.049591,0.009131,0.019256,0.008466,-0.04322,2
299,0.068924,-0.040436,-0.008438,0.02124,0.053781,-0.005155,-0.055375,0.026609,0.020938,-0.006242,...,-0.048353,-0.014013,-0.01112,-0.053487,-0.028775,0.007546,0.032815,0.030686,-0.017107,0

In [25]:
data=data.sample(frac=1)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
167,0.044851,-0.04243,-0.006961,-0.013484,0.002387,-0.001879,-0.029217,0.034203,0.05645,-0.029752,...,-0.03763,-0.031069,-0.009059,-0.048754,-0.065758,0.012232,0.031324,0.014519,-0.030652,0
285,0.053685,-0.031713,-0.005566,0.035611,0.027481,0.009243,-0.04953,0.054116,0.065669,-0.014978,...,-0.013205,0.022555,0.001222,-0.041614,-0.062523,0.012539,0.017402,0.000446,-0.025832,2
283,0.037837,-0.038545,-0.014687,0.011569,0.045468,0.006111,-0.054969,0.035764,0.048658,-0.009814,...,-0.024065,-0.045052,0.006396,-0.043735,-0.008737,0.007495,0.001713,0.006389,-0.026621,0
203,0.056282,-0.021455,-0.007533,-0.005888,0.030137,0.009732,-0.091849,0.032324,0.089135,-0.019116,...,-0.037159,0.025403,-0.011662,-0.043762,-0.031354,0.018539,0.033255,0.036421,-0.013153,0
289,0.058817,0.038383,0.006154,0.058204,0.0214,0.023911,-0.021514,0.065904,0.048861,0.027966,...,0.002063,0.038624,0.016855,-0.059979,-0.051967,-0.031533,0.002043,0.005134,-0.039962,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,0.097472,-0.028992,-0.023503,0.006292,0.010449,0.009685,-0.008652,-0.000601,0.062014,-0.026497,...,-0.003908,-0.005393,0.027009,-0.040595,-0.053467,0.017463,0.019107,0.01012,-0.028417,1
47,0.045834,-0.064345,-0.031244,-0.004216,-0.011592,-0.003974,0.01294,0.008767,0.038335,-0.006581,...,-0.02415,-0.026688,0.009888,-0.039419,-0.053324,0.032473,0.022905,-0.006476,-0.023545,2
104,0.040264,-0.073166,-0.025342,-0.017914,0.032022,0.016343,-0.048681,0.038254,0.060075,-0.030883,...,-0.0292,-0.001801,0.019856,-0.010937,-0.02238,0.010038,0.014976,0.010054,-0.004861,1
251,0.032927,-0.010039,-0.009479,0.005613,0.031543,-0.004185,-0.03475,0.078247,-0.011754,0.020567,...,-0.02796,-0.04841,0.017365,-0.021921,0.049584,-0.020645,0.018671,0.014556,-0.023911,0
246,0.05421,-0.071686,-0.029723,-0.016055,0.026487,-0.00363,-0.018938,0.000601,0.041702,-0.026981,...,-0.013544,-0.029878,0.024908,-0.043535,-0.052556,-0.011865,0.004778,0.027771,-0.012426,1

In [27]:
data.to_csv("test_data_after_vector.csv")