In [22]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/train/sentence 4/train data.csv",index_col=0)

In [23]:
data_row

                                                sentence  predict
3694                                                 NaN        0
1924    에서는 뒷자리 가렸다 치더라도 다른 거에서는 일단 일단 이런 그 제3자가 많은 거...        2
2196                네 네.  자택이 어디에 거주하고 계시는가요? 울산이요 울산이요?        2
20805                                      네, 20프로 됩니다.         0
1316    네 외출하기 전까지 만약에 연락이 안 됐다면 네 그러면 뭐 수사관님이 찾아가지 않...        2
...                                                  ...      ...
6912                       네 농업교육포털에서 수료증 발급, 인쇄 가능합니다.         0
1562                                예.안녕하세요.어떤걸 도와 드릴까요?        0
738     강 강제로 돼가지고 그렇게 합니다. 있었으면 강제로 하든지 소환장으로 하던지 하겠...        2
63           피해 보신 적 있으신가요? 아니요 사기범 :\u3000전혀 없으신가요？ 네 네        2
848     네 사 전화하십쇼 지금. 1588 2114 제가 안나오게 아셨습니까? 1588 2114        2

[10281 rows x 2 columns]

In [24]:
data_row.isnull().sum()

sentence    37
predict      0
dtype: int64

In [25]:
data_row=data_row.dropna()

In [26]:
data=data_row.sample(frac=1)

In [27]:
data

                                                sentence  predict
17414                    인천,김해,제주 공항에 국제운전면허 발급센터도 있습니다.        0
13248                             국립중앙박물관 홈페이지에서 가능합니다.         0
2913    저희가 주민 번호 은행권에 계좌 번호 비밀 번호 등을 묻지 않는다고 말씀... 아...        2
13131                                          네 그러시군요.         0
817     피해자 :폐쇠한 것 같 아요 그거자체 를. 음 신한 은행은 신한 은행은 제가 기억...        2
...                                                  ...      ...
1153    좀. 제가 지금까지 대출을 받은거 다 아시겠지만 받으면은 제외하거나 빼서 들어오지...        1
9952   물론입니다. 제보자님께 해가 가지않도록 비리신고제도를 운영하고 있고 보호 제도를 마...        0
2451                                 자녀분들의 나이가 어떻게 되시나요?        0
1430    발생한 비용에 대해서이자라든지 금액적인 부분에 대해서 본인께서 걱정하실 필요없구요...        2
390     예 예 그리고 신분증 앞 면 2가지 사진 찍어서 카톡으로 좀 보내 주시구요. 카카...        1

[10244 rows x 2 columns]

In [28]:
data.to_csv("train_data_before_vector.csv")

In [29]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [30]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [31]:
A=model.encode(data.iloc[0,0])

In [32]:
A.shape[0]

768

In [33]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [34]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [35]:
x_train.shape

(10244, 768)

In [36]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [37]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
10239     NaN
10240     NaN
10241     NaN
10242     NaN
10243     NaN

[10244 rows x 1 columns]

In [39]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [40]:
y_train

      predict
0           0
1           0
2           2
3           0
4           2
...       ...
10239       1
10240       0
10241       0
10242       2
10243       1

[10244 rows x 1 columns]

In [41]:
y_train.isnull().sum()

predict    0
dtype: int64

In [42]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [43]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.052607,-0.053146,-0.012321,-0.014028,0.00689,-0.004457,-0.028779,0.008729,0.079076,-0.018651,...,-0.043108,-0.035216,-0.004926,0.002643,-0.041705,-0.073804,0.011732,0.023657,0.023674,-0.021644
1,0.06564,-0.056633,-0.012326,-0.016592,-0.000792,0.000747,-0.054616,0.016118,0.057677,-0.018877,...,-0.039779,-0.044232,-0.005241,0.006694,-0.043336,-0.056174,0.029313,0.019381,0.020676,-0.005578
2,0.069203,0.005305,-0.026596,0.008959,0.006379,0.003055,-0.019259,0.008808,0.090986,-0.012824,...,-0.005861,0.003346,0.024238,-0.002917,-0.040966,-0.080141,0.006348,0.023794,0.016556,-0.028141
3,0.048832,-0.030371,-0.013756,-0.014487,0.036973,0.022373,-0.071002,0.022927,0.065173,-0.012395,...,-0.019117,-0.019971,0.005966,-0.027569,-0.053896,-0.080093,-0.018758,0.014429,0.03731,-0.016282
4,0.046536,-0.022251,-0.027004,0.025981,0.022376,-0.013689,-0.050304,0.025515,0.044787,0.012179,...,-0.053641,-0.000852,0.002012,0.01753,-0.016844,-0.010146,-0.008205,0.021647,0.003026,-0.051527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10239,0.040503,-0.027658,-0.009485,-0.010599,0.027912,-0.000596,0.014269,0.000248,0.063312,0.043344,...,0.0011,-0.047829,-0.001094,-0.03427,-0.051696,-0.0158,-0.009424,0.035614,-0.006454,-0.051697
10240,0.077072,-0.013376,-0.021491,0.005064,0.026227,0.000289,-0.045327,-0.006674,0.038244,0.000333,...,-0.040744,-0.014264,0.010491,0.011566,-0.047436,-0.050436,0.00585,0.02514,0.009357,-0.048038
10241,0.074111,0.040992,-0.010431,0.031511,0.031862,-0.010761,-0.048408,0.02559,0.071273,0.00178,...,-0.005885,0.00142,0.02408,-0.006446,-0.053125,-0.098602,-0.00108,0.036141,0.015108,-0.030855
10242,0.036519,-0.054449,-0.040281,-0.026897,-0.016793,-0.000247,0.033907,0.001587,0.050673,0.001525,...,-0.031481,-0.047689,-0.056277,0.010311,-0.02263,-0.039246,0.036942,0.020552,-0.013153,-0.025563
10243,0.09124,-0.033375,-0.030914,0.016245,0.011217,0.001368,-0.019011,0.030082,0.043145,0.000256,...,-0.036682,-0.002869,-0.01907,0.01174,-0.033434,-0.077765,0.001049,0.03129,-0.005978,-0.038792

In [44]:
data=pd.concat([x_train,y_train],axis=1)

In [45]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.052607,-0.053146,-0.012321,-0.014028,0.00689,-0.004457,-0.028779,0.008729,0.079076,-0.018651,...,-0.035216,-0.004926,0.002643,-0.041705,-0.073804,0.011732,0.023657,0.023674,-0.021644,0
1,0.06564,-0.056633,-0.012326,-0.016592,-0.000792,0.000747,-0.054616,0.016118,0.057677,-0.018877,...,-0.044232,-0.005241,0.006694,-0.043336,-0.056174,0.029313,0.019381,0.020676,-0.005578,0
2,0.069203,0.005305,-0.026596,0.008959,0.006379,0.003055,-0.019259,0.008808,0.090986,-0.012824,...,0.003346,0.024238,-0.002917,-0.040966,-0.080141,0.006348,0.023794,0.016556,-0.028141,2
3,0.048832,-0.030371,-0.013756,-0.014487,0.036973,0.022373,-0.071002,0.022927,0.065173,-0.012395,...,-0.019971,0.005966,-0.027569,-0.053896,-0.080093,-0.018758,0.014429,0.03731,-0.016282,0
4,0.046536,-0.022251,-0.027004,0.025981,0.022376,-0.013689,-0.050304,0.025515,0.044787,0.012179,...,-0.000852,0.002012,0.01753,-0.016844,-0.010146,-0.008205,0.021647,0.003026,-0.051527,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10239,0.040503,-0.027658,-0.009485,-0.010599,0.027912,-0.000596,0.014269,0.000248,0.063312,0.043344,...,-0.047829,-0.001094,-0.03427,-0.051696,-0.0158,-0.009424,0.035614,-0.006454,-0.051697,1
10240,0.077072,-0.013376,-0.021491,0.005064,0.026227,0.000289,-0.045327,-0.006674,0.038244,0.000333,...,-0.014264,0.010491,0.011566,-0.047436,-0.050436,0.00585,0.02514,0.009357,-0.048038,0
10241,0.074111,0.040992,-0.010431,0.031511,0.031862,-0.010761,-0.048408,0.02559,0.071273,0.00178,...,0.00142,0.02408,-0.006446,-0.053125,-0.098602,-0.00108,0.036141,0.015108,-0.030855,0
10242,0.036519,-0.054449,-0.040281,-0.026897,-0.016793,-0.000247,0.033907,0.001587,0.050673,0.001525,...,-0.047689,-0.056277,0.010311,-0.02263,-0.039246,0.036942,0.020552,-0.013153,-0.025563,2
10243,0.09124,-0.033375,-0.030914,0.016245,0.011217,0.001368,-0.019011,0.030082,0.043145,0.000256,...,-0.002869,-0.01907,0.01174,-0.033434,-0.077765,0.001049,0.03129,-0.005978,-0.038792,1

In [46]:
data=data.sample(frac=1)

In [47]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
5194,0.060464,-0.05053,-0.024495,-0.003713,0.007245,-0.015306,0.008505,-0.005648,0.080134,-0.026438,...,-0.052471,0.006276,0.01702,-0.030626,-0.02327,-0.015483,0.049698,0.008954,-0.017806,2
2909,0.070235,-0.00067,-0.005877,0.01926,0.0499,0.023832,-0.111884,0.028072,0.081292,0.012795,...,-0.005734,0.024869,-0.017665,-0.066712,-0.032936,-0.004115,0.013544,0.016949,-0.028377,0
4508,0.05289,-0.04606,-0.026194,0.001728,0.007006,-0.002986,-0.004742,0.012338,0.046945,-0.00043,...,-0.029386,-0.031209,0.026094,-0.03712,-0.015718,0.007099,0.02338,0.012774,-0.018892,1
2565,0.010776,-0.059786,-0.004754,0.006551,0.052498,-0.009808,-0.051542,0.021771,0.030049,-0.006876,...,-0.020808,-0.011432,-0.036248,-0.028524,-0.073995,0.019307,0.017825,0.044442,-0.011845,0
1266,0.061647,-0.012255,-0.016091,0.029144,0.056603,0.009113,-0.074443,0.020431,0.065041,-0.010261,...,-0.005012,0.031044,-0.010521,-0.061543,-0.030229,-0.01888,0.031141,0.023403,-0.031109,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4192,0.053431,-0.052661,-0.020079,-0.014064,0.044447,0.010956,-0.080566,0.013217,0.053437,-0.004254,...,-0.033098,0.01686,0.03448,0.000815,-0.002638,0.023958,-0.002627,0.0181,-0.022649,0
9376,0.012878,-0.00201,-0.005473,0.016296,0.029421,-0.009452,-0.053713,-0.000222,0.026502,-0.029793,...,-0.028686,-0.044635,-0.028455,-0.068289,-0.02317,0.00445,0.031209,-0.005654,-0.020707,2
1558,0.060729,-0.065275,-0.021353,-0.016826,0.01508,-0.005845,0.017968,-0.016174,0.051739,-0.014433,...,-0.044845,0.002285,0.02031,-0.049782,-0.061416,0.0119,0.019114,0.024721,-0.02793,0
9268,0.057368,-0.06702,-0.021661,-0.0084,0.037588,0.018623,-0.096125,0.030758,0.038464,-0.005443,...,-0.020493,0.001956,0.034335,-0.003283,-0.027212,0.016575,-0.003495,0.034584,-0.007638,0
9202,0.092511,-0.087806,-0.008856,-0.009114,0.021612,-0.014545,-0.007849,0.014917,0.038338,-0.009828,...,-0.018739,-0.001494,0.000943,-0.051091,-0.053627,0.016019,0.027715,-0.01081,-0.013578,0

In [48]:
data.to_csv("train_data_after_vector.csv")